/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*************
* Our Styles *
*************/

/* font import */
/* import the "Bebas Neue" font. */


h1, h2, h3, label, div {
	font-family: Helvetica, Arial, sans-serif;
}

/* general styles */
a {
	text-decoration: none;
}
/* background */
html {
	height: 100%;
	min-height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	height: 100%;
	overflow: scroll;
}

/* content area */
#content {
	width: 960px;
	margin: 0 auto;
	-webkit-transition: width .5s;
}
/* nav */
nav {
	position: fixed;
	top: 100px;
	border: 1px solid black;
	border-left: none;
	padding:10px;
}
nav li {
	margin-bottom: 10px;
}
nav li a {
	color: black;
}
nav li a:hover {
	color: #aaa;
}
/* main content */
#content #main {
	padding: 20px;
	margin: 40px auto;
	border:	3px solid #777;
}
#content #main h1 {
	margin: 10px 0;
	font-size: 32px;
}
#content #main h2 {
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 50px;
}
#content #main h3 {
	margin-top: 30px;
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}
#target1 {
	height: 18px;
}
#content #main .target {
	border: 2px dashed black;
	padding: 10px;
	width: 60%;
	margin-bottom: 10px;
	min-height: 18px;
}
#content #main .code-container {
	margin-bottom: 15px;
}
#content #main input.target {
	border: 1px solid gray;
}
#content #main .directions {
	margin-bottom: 10px;
}
#content #main .spacer {
	margin-bottom: 10px;
}

#class-targets {
	width: 65%;
}
#main #class-targets .list-item {
	margin-bottom: 10px;
	height: 18px;
}

#main #tagname-targets .target {
	margin-bottom: 10px;
}

#main #tagname-attribute-targets input[type="button"], #main #tagname-attribute-targets input[type="reset"] {
	width: 170px;
}
#main #tagname-attribute-targets input[type="checkbox"] {
	width: auto;
	padding: 0;
}
#change-style2 {
	position: relative;
}
#change-style2.relative {
	background-color: green;
}
#text-change span {
	font-weight: bold;
}

#class-change span {
	float: right;
	font-weight: bold;
}
#class-change.remove-me span {
	display: none;
}
#class-change .added, #class-change.add-me .removed {
	display: none;
}
#class-change.add-me .added {
	display: block;
}

#attribute-change {
	height: 18px;
}
#attribute-change span {
	display: none;
}

#attribute-change[title] .some, #attribute-change[title="This is my title"] .first, #attribute-change[title="This is my new title"] .second {
	display: block;
}
#attribute-change[title="This is my title"] .some, #attribute-change[title="This is my new title"] .some {
	display: none;
}
/* clearfix class */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.last {
	margin-right: 0 !important;
}


/* media queries */

/* screen width less than 960px and more than 768px */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#content {
		width: 768px;
	}
}

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	#content {
		width: 300px;
	}
	#header ul li a {
		line-height: 50px;
	}

	#main h2, #main h3 {
		text-align: center;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#content {
		width: 420px;
	}
}
@media only screen and (max-width: 479px) {
	#content #main h2 {
		font-size: 28px;
	}
}
